<div class="loading-bar" [class.loading]="isSubmitted"></div>
<div class="animated fadeIn">
  <div class="col-lg-4 col-md-7 col-sm-8 col-xl-4 mx-auto" style="padding-top: 15%">
    <div class="card">
      <div class="card-header">Forget your password?</div>
      <div class="card-body">
        <form [formGroup]="forgetPasswordForm" #f="ngForm">
          <p class="text-muted">
            Enter your email address to reset your password
          </p>
          <div class="form-group">
            <div class="input-group">
              <input formControlName="email" type="email" id="email2" name="email2" class="form-control"
                placeholder="Email" autocomplete="email" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <button [disabled]="!f.valid || isSubmitted" (click)="onSubmit()" type="submit"
              class="btn btn-sm btn-secondary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
