<div class="loading-bar" [class.loading]="isSubmitted"></div>
<div class="animated fadeIn">
  <div class="col-lg-4 col-md-7 col-sm-8 col-xl-4 mx-auto" style="padding-top: 15%">
    <div class="card">
      <div class="card-header">Reset password</div>
      <div class="card-body">
        <form #f="ngForm">
          <p class="text-muted">Choose a new password for your account</p>
          <div class="form-group">
            <div class="input-group">
              <input [(ngModel)]="form.password" type="password" name="password" class="form-control"
                placeholder="Password" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <button [disabled]="!f.valid || isSubmitted" (click)="onSubmit()" type="submit"
              class="btn btn-sm btn-secondary">
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
