<div class="animated fadeIn">
  <div class="card mt-4 mx-4">
    <div class="card-header">
      Instructions
    </div>
    <div class="card-body">
      <p><strong>Before you begin your exam</strong></p>
      <div class="bd-example">
        <p>1. Make sure you have good and stable internet connection.</p>
        <p>2. Disconnect all the connected devices from the wifi or use ethernet cable if possible.</p>
        <p>3. Close all the applications running in the background.</p>
        <p>4. Do not open any other tabs on the browser apart from the exam tab.</p>
        <p>5. Maximize your browser window before starting the exam.</p>
      </div>
      <br>
      <p><strong>During the exam</strong></p>
      <div class="bd-example">
        <p>1. Do not resize or minimize the browser.</p>
        <p>2. Do not close exam tab or refresh the browser before your exam is completed. </p>
        <p>3. Don't close the exam tab even if you face the connection problem because it prevents our system from tracking your selected answer.</p>
        <p>4. Keep an eye on timer clock to keep track of the time left for the examination.</p>
      </div>
      <p><strong>If you encounter any problem during examination, you can contact your college immediately. </strong>
      </p>
      <div class="form-check mt-4 mb-4">
        <input (click)="onRead()" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          I have read and understood all the instructions mentioned above.
        </label>
      </div>
      <button [disabled]="isSubmitted" (click)="onSubmit()" type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i> Start Exam
      </button>
    </div>
  </div>
</div>