<div class="animated fadeIn">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/question']">Question</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>View Question</strong>
          </div>
          <div class="card-body">
            <form class="form-horizontal">
              <div class="row">
                <div class="form-group col-sm-3">
                  <fieldset class="form-group">
                    <label for="customSelect">Department:</label>
                    <select (change)="onDepartmentChange(selectedDepartment.id)" class="custom-select d-block w-100" id="department"
                      [(ngModel)]="selectedDepartment" name="department" required placeholder="d.ff">
                      <option hidden value="" disabled selected>
                        Select department
                      </option>
                      <option *ngFor="let department of departments" [ngValue]="department">
                        {{ department.name }}
                      </option>
                    </select>
                  </fieldset>
                </div>
                <div class="form-group col-sm-3">
                  <label for="ccyear">Academic Year:</label>
                  <select class="custom-select d-block w-100" id="ccyear">
                    <option hidden value="" disabled selected>
                      Select academic year
                    </option>
                    <option>First Year</option>
                    <option>Second Year</option>
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <fieldset class="form-group">
                    <label for="customSelect">Semester:</label>
                    <select (change)="onSemesterChange()" class="custom-select d-block w-100" id="semester"
                      [(ngModel)]="selectedSemester" name="semester" required placeholder="d.ff">
                      <option hidden value="" disabled selected>
                        Select semester
                      </option>
                      <option *ngFor="let semester of semesters" [ngValue]="semester">
                        {{ semester.name }}
                      </option>
                    </select>
                  </fieldset>
                </div>
                <div class="form-group col-sm-3">
                  <fieldset class="form-group">
                    <label for="customSelect">Subject:</label>
                    <select (change)="onSubjectChange()" class="custom-select d-block w-100" id="subject"
                    [(ngModel)]="selectedSubject" name="subject" required placeholder="d.ff">
                    <option hidden value="" disabled selected>
                      Select subject
                    </option>
                    <option *ngFor="let subject of subjects" [ngValue]="subject">
                      {{ subject.name }}
                    </option>
                  </select>
                  </fieldset>
                </div>
                <div class="form-group col-sm-3">
                    <fieldset class="form-group">
                      <label for="customSelect">Unit:</label>
                      <select (change)="onUnitChange()" class="custom-select d-block w-100" id="unit"
                        [(ngModel)]="selectedUnit" name="unit" required placeholder="d.ff">
                        <option hidden value="" disabled selected>
                          Select unit
                        </option>
                        <option *ngFor="let unit of units" [ngValue]="unit">
                          {{unit.unit}}. {{ unit.name }}
                        </option>
                      </select>
                    </fieldset>
                  </div>
              </div>
              <ng-container *ngIf="questionDetails">
                <div class="row mb-4">
                  <div class="col-lg-10">
                    <table>
                      <thead>
                        <tr>
                          <th>
                            <p class="muted">
                              {{ questionDetails.department }} ( {{questionDetails.semester}} ),
                              {{ questionDetails.subject }} (Unit {{subjectUnit}}) Questions:
                            </p>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let element of questionList; let i = index">
                          <tr>
                            <td>
                              <a> Q{{ i + 1 }}. {{ element.title }} </a>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ng-container>
              <div class="form-actions">
                <button [disabled]="!isSubmitted" (click)="onSubmit()" type="submit"
                  class="btn btn-sm btn-primary">
                  <i class="fa fa-dot-circle-o"></i> View Paper
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  