<div class="animated fadeIn">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/question-paper']">Question Paper</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>View Question Paper</strong>
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="customSelect">Year:</label>
                <input [(ngModel)]="selectedYear" name="year" class="form-control" type="number" min="1900" max="2099"
                step="1" />
              </div>
              <div class="form-group col-sm-3">
                <fieldset class="form-group">
                  <label for="customSelect">Exam Name:</label>
                  <select (change)="onExamNameChange(selectExamId.id)" class="custom-select d-block w-100" id="department"
                    [(ngModel)]="selectExamId" name="exam" required placeholder="d.ff">
                    <option hidden value="" disabled selected>
                      Select exam name
                    </option>
                    <option *ngFor="let exam of exams" [ngValue]="exam">
                      {{ exam.name }}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="form-group col-sm-3">
                <fieldset class="form-group">
                  <label for="customSelect">Department:</label>
                  <select (change)="onDepartmentChange(selectedDepartment.id)" class="custom-select d-block w-100" id="department"
                    [(ngModel)]="selectedDepartment" name="department" required placeholder="d.ff">
                    <option hidden value="" disabled selected>
                      Select department
                    </option>
                    <option *ngFor="let department of departments" [ngValue]="department">
                      {{ department.name }}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="form-group col-sm-3">
                <fieldset class="form-group">
                  <label for="customSelect">Semester:</label>
                  <select (change)="onSemesterChange()" class="custom-select d-block w-100" id="semester"
                    [(ngModel)]="selectedSemester" name="semester" required placeholder="d.ff">
                    <option hidden value="" disabled selected>
                      Select semester
                    </option>
                    <option *ngFor="let semester of semesters" [ngValue]="semester">
                      {{ semester.name }}
                    </option>
                  </select>
                </fieldset>
              </div>
              <div class="form-group col-sm-3">
                <fieldset class="form-group">
                  <label for="customSelect">Subject:</label>
                  <select (change)="onSubjectChange()" class="custom-select d-block w-100" id="subject"
                  [(ngModel)]="selectedSubject" name="subject" required placeholder="d.ff">
                  <option hidden value="" disabled selected>
                    Select subject
                  </option>
                  <option *ngFor="let subject of subjects" [ngValue]="subject">
                    {{ subject.name }}
                  </option>
                </select>
                </fieldset>
              </div>
            </div>
            <ng-container *ngIf="questionDetails">
              <div class="row mb-4">
                <div class="col-lg-10">
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <p class="muted">
                            {{ questionDetails.department }}
                            ({{ questionDetails.semester }}),
                            {{ questionDetails.subject }} Questions Paper
                          </p>
                        </th>
                      </tr>
                      <p *ngIf="questionMarks">
                        Total Questions: {{ questionPaperList.length }},
                        FullMarks: {{ questionMarks.subject.fullMarks }},
                        PassMarks: {{ questionMarks.subject.passMarks }}
                      </p>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let element of questionPaperList; let i = index">
                        <tr>
                          <td>
                            <a> Q{{ i + 1 }}. {{ element.title }} </a>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
            <div class="form-actions">
              <button [disabled]="!isSubmitted" (click)="onSubmit()" type="submit"
                class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> View Paper
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
